:root {
    --fundo-principal: #100E12;
    --fundo-card: #19151F;
    --texto-claro: #A8A3B3;
    --texto-destaque: #F5F5F7;
    --roxo: #7C3AED;
    --laranja: #FF6B35;
    --vermelho: #FF3B30;
    --cor-nota: #FFB020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fundo-principal);
    color: var(--texto-claro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}